<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}  ">
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}} "></script>
  <title>Trang chủ</title>
</head>

<body>
  <header>

    <nav id='header-nav' class="navbar navbar-expand-lg 2  navbar-light " style="background-color: #1E90FF;">
      <div class="container">
        <a id='logo' class="navbar-brand" href="index.html">Let share</a>

        <button class="navbar-toggler d-lg-2  one " type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="collapsibleNavId">
          <ul id='nav-list' class="navbar-nav  me-auto mt-2 mt-lg-2   ">
            <li class="nav-item ">
              <a class="nav-link active" href="#">Trang cá nhân</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Quản lý tin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đơn hàng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thông báo</a>
            </li>


          </ul>
          <form class="d-flex my-2 my-lg-2  ">
            <input class="form-control me-sm-5" type="text" placeholder="Tìm kiếm">
          </form>

          <a id='btn-post' type="button" class="btn active" href="{{url_for('news.create')}}">
            <i id="post-item" class="fa fa-pencil-square-o" aria-hidden="false"></i>
            Đăng tin

          </a>

          <a id="btn-login" type="button" class="btn active " href="{{url_for('auth.login')}}">
            <i class="fa fa-user" aria-hidden="true"></i>
            Đăng nhập
          </a>

        </div>
        


      </div>
    </nav>


  </header> <!--header-->

  <div id="catgorical" class="container">
    <div id="text-title-cat">
      <p>Khám phá danh mục</p>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-4 col-6  " >
        <a class="categorical-element" href="#" >
          <img src="{{url_for('static', filename = 'images/categorical/car.png')}}" alt="categorical car" width="100" height="100">
          <p>
            Xe cộ
          </p>
  
        </a>
      </div>

      <div class="col-lg-2 col-sm-4 col-6">
        <a class="categorical-element" href="#">
          <img src="{{url_for('static', filename = 'images/categorical/electronice_device.png')}}" alt="categorical car" width="100" height="100">
          <p>
            Đồ điện tử
          </p>
  
        </a>
      </div>

      <div class="col-lg-2 col-sm-4 col-6  ">
        <a class="categorical-element" href="#">
          <img src="{{url_for('static', filename = 'images/categorical/fashion.png')}}" alt="categorical car" width="100" height="100">
          <p>
            Thời trang
          </p>
  
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 col-6 ">
        <a class="categorical-element" href="#">
          <img src="{{url_for('static', filename = 'images/categorical/furniture.png')}}" alt="categorical car" width="100" height="100">
          <p>
            Nội thất
          </p>
  
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 col-6  ">
        <a class="categorical-element" href="#">
          <img src="{{url_for('static', filename = 'images/categorical/office.png')}}" alt="categorical car" width="100" height="100">
          <p>
            Đồ dùng văn phòng
          </p>
  
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 col-6  ">
        <a class="categorical-element" href="#">
          <img src="{{url_for('static', filename = 'images/categorical/pet.png')}}" alt="categorical car" width="100" height="100">
          <p>
            Thú nuôi
          </p>
  
        </a>
      </div>

    </div>


  </div> <!--Catgorical-->

  <div id="post-new">
    <div class="container">
      <div id="text-title-post">
        <p>Tin đăng mới</p>
      </div>

      <div class="row">
        <div class="card-element col">
          <a class="card  " style="width:100%" href="#">
            <img src="" alt="" class="card-img-top" width="100%">
            <div class="card-body">
              <h5 class="card-title">Tiêu đề</h5>
              <p id="card-price" class="card-text">100,000</p>
              <p class="card-text">Thời gian</p>
            </div>
          </a>
        </div>

        <div class="card-element col">
          <a class="card  " style="width:100%" href="#">
            <img src="" alt="" class="card-img-top" width="100%">
            <div class="card-body">
              <h5 class="card-title">Tiêu đề</h5>
              <p id="card-price" class="card-text">100,000</p>
              <p class="card-text">Thời gian</p>
            </div>
          </a>
        </div>

        <div class="card-element col">
          <a class="card  " style="width:100%" href="#">
            <img src="" alt="" class="card-img-top" width="100%">
            <div class="card-body">
              <h5 class="card-title">Tiêu đề</h5>
              <p id="card-price" class="card-text">100,000</p>
              <p class="card-text">Thời gian</p>
            </div>
          </a>
        </div>


        <div class="card-element col">
          <a class="card  " style="width:100%" href="#">
            <img src="" alt="" class="card-img-top" width="100%">
            <div class="card-body">
              <h5 class="card-title">Tiêu đề</h5>
              <p id="card-price" class="card-text">100,000</p>
              <p class="card-text">Thời gian</p>
            </div>
          </a>
        </div>

        <div class="card-element col">
          <a class="card  " style="width:100%" href="#">
            <img src="" alt="" class="card-img-top" width="100%">
            <div class="card-body">
              <h5 class="card-title">Tiêu đề</h5>
              <p id="card-price" class="card-text">100,000</p>
              <p class="card-text">Thời gian</p>
            </div>
          </a>
        </div>

      </div>
    </div>


  </div>

  <div id="footer">

  </div>


</body>

</html>